@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

:root {
    --background: #faf5f1;
    --foreground: #000000;
    --font-montserrat: 'Montserrat', sans-serif;
}

.dark {
    --background: #000000;
    --foreground: #f9fafb;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-montserrat);
    background-color: var(--background);
    color: var(--foreground);
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

:root {
    --color-noir: #000000; /* mode clair */
}

.dark {
    --color-noir: #ffffff; /* mode sombre */
}

