@import "tailwindcss";

/* Variante sombre : s’applique quand .dark est présente sur html/body */
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

/* Thème basé sur les variables CSS */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border);
    --color-ring: var(--ring);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}


@media {
    :root {
        --background: rgba(250, 245, 241, 0.7);
        --foreground: rgba(250, 245, 241, 0.7);
    }
}

:root {
    --font-montserrat: 'Montserrat', sans-serif;
}


body {
    font-family: Montserrat, sans-serif;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

